@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  visibility: hidden;
  user-select: none;
  white-space: nowrap;
  margin: 0;
  user-select: none;
  overflow: hidden;
}

p {
  margin: 0;
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 300, 'GRAD' 0, 'opsz' 40;
}

.eye {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) rotate(45deg) scale(0.3);
	opacity: 0;
	transition: all .48s cubic-bezier(0.075, 0.82, 0.165, 1);
}

#eye {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 22pt;
}

.target-eye-active {
	transform: translate(-50%, -50%) rotate(0deg) scale(0.5);
	opacity: 1;
}

.target-eye-default {
	transform: translate(-50%, -50%) rotate(45deg) scale(0.4);
	opacity: 0.3;
}


#options-wrapper {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 50%;
	margin-left: 3vh;
	margin-top: -1.35vh;
	opacity: 0;
}

.options-wrapperw {
  opacity: 0;
}

.option-container {
	border-radius: 0.1vw;
	background: rgba(0, 0, 0, 0.6);
	color: white;
	border: 0px;
	display: flex;
	align-items: center;
	margin-bottom: 0.5vh;
	box-sizing: border-box;
	padding: 0.4vw 0.6vw;
	transform: translateX(0);
	font-weight: 600;
	transition: all .2s ease-in-out;
}

.option-container:hover {
	opacity: 1;
	color: black;
	background: white;
	transform: translateX(5%);
}

.option-icon {
  margin-right: 1vw;
}

.option-label {
	list-style: none;
	font-size: 1.3vh;
	font-family: 'Montserrat', sans-serif;
	user-select: none;
	white-space: nowrap;
	padding-left: 0.2vh;
}
